<!-- main section starts -->
<section class="head-img">
    <img class="header-img" src="../../assets/menu-imgs/main-img.jpg" alt="" srcset="">
</section>

<!-- menu section starts  -->
<section class="menu">
<div class="menu-section">
    <div class="section1">
        <h1 class="menu-no">COFFEE MENU NO 1</h1>
        <div class="hr"></div>

        <div class="parent-div">

            <div class="child-div1">
                <img src="../../assets/menu-imgs/h-1-list-icon-img-150x150.jpg">
            </div>

            <div class="child-div2">

                <div class="sub-child1">
                    <span>CAFFE LATTE</span>  <span>$2.95</span>
                </div>
                <div class="sub-child2">
                    <p>Fresh brewed coffee and steamed milk</p>
                    <span>New</span>
                </div> 

            </div>

        </div>

        <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-2-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>CAFFE MOCHA</span>  <span>$3.67</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso With Milk, and Whipped Cream</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-3-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>WHITE CHOCOLATE MOCHA</span>  <span>$2.79</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso, White Chocolate, Milk, Ice and Cream</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-4-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>CAFFE AMERICANO</span>  <span>$3.06</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso Shots and Light Layer of Crema</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-5-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>CAPPUCCINO</span>  <span>$4.03</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso, and Smoothed Layer of Foam</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-6-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>VANILLA LATTE</span>  <span>$3.65</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso Milk With Flavor,and Cream</p>
              </div> 
              
          </div>

      </div>

    </div>
    <div class="section1">
      <h1 class="menu-no">COFFEE MENU NO 2</h1>
      <div class="hr"></div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-12-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>ICED GINGERBREAD LATTE</span>  <span>$3.92</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso, Milk, Ice, and Gingerbread Flavor</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-11-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>ICED CAFFE MOCHA</span>  <span>$2.60</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso, bittersweet mocha sauce, milk and ice</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-8-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>ICED CARAMEL LATTE</span>  <span>	$4.67</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso, Milk, Ice and Caramel Sauce</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-7-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>ESPRESSO MACCHIATO</span>  <span>$2.98</span>
              </div>
              <div class="sub-child2">
                  <p>Rich Espresso With Milk and Foam</p>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-9-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>CARAMEL MACCHIATO</span>  <span>$2.54</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso, vanilla-flavored syrup and milk</p>
                  <span>New</span>
              </div> 
              
          </div>

      </div>

      <div class="parent-div">

          <div class="child-div1">
              <img src="../../assets/menu-imgs/h-1-list-icon-img-10-150x150.jpg">
          </div>

          <div class="child-div2">

              <div class="sub-child1">
                  <span>ICED SMOKED LATTE</span>  <span>$3.05</span>
              </div>
              <div class="sub-child2">
                  <p>Espresso, ice, with smoked butterscotch</p>
              </div> 
              
          </div>

      </div>

    </div>
</div>
</section>
