
        <div class="heading">
            <h3>Gallery</h3>
            <p><a routerLink="/home" >Coffee</a> / <a href="#">Pages</a> / <a routerLink="/gallery" >Gallery</a></p>
        </div>  

        <!-- gallery section  -->
        <div class="container">

            <div class="gallery">
        
                <div class="gallery-item">
                   <figure>
                    <img class="gallery-image" src="../../assets/gallery/h6-featured-1.jpg" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
                    <figcaption>TRADITIONAL COFFEE</figcaption>
                   </figure>
                </div>
        
                <div class="gallery-item">
                    <figure>
                    <img class="gallery-image" src="../../assets/gallery/h6-featured-2.jpg" alt="sunset behind San Francisco city skyline">
                    <figcaption>INTERIOR IDEAS</figcaption>
                    </figure>
                </div>
        
                <div class="gallery-item">
                    <figure>
                        <img class="gallery-image" src="../../assets/gallery/h6-featured-3.jpg" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
                        <figcaption>MORNING HABITS</figcaption>
                    </figure>
                </div>
        
                <div class="gallery-item">
                    <figure>
                        <img class="gallery-image" src="../../assets/gallery/h6-featured-4.jpg" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
                        <figcaption>COFFEE DECORATIONS</figcaption>
                    </figure>
                </div>
        
                <div class="gallery-item">
                    <figure>
                        <img class="gallery-image" src="../../assets/gallery/h6-featured-5.jpg" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
                        <figcaption>YOUR FAVORITE PLACE</figcaption>
                    </figure>
                </div>
        
                <div class="gallery-item">
                    <figure>
                    <img class="gallery-image" src="../../assets/gallery/h6-featured-6.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                        <figcaption>EVERYDAY BEAUTY</figcaption>
                    </figure>
                </div>

                <div class="gallery-item">
                    <figure>
                        <img class="gallery-image" src="../../assets/gallery/h6-featured-7.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                        <figcaption>MORNING COFFEE</figcaption>
                    </figure>
                </div>

                <div class="gallery-item">
                    <figure>
                        <img class="gallery-image" src="../../assets/gallery/h6-featured-8.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                        <figcaption>SWEET IDEAS</figcaption>
                    </figure>
                </div>

                <div class="gallery-item">
                    <figure>
                    <img class="gallery-image" src="../../assets/gallery/h6-featured-9.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                    <figcaption>EVERYDAY INSPIRATION</figcaption>
                    </figure>
                </div>
        
            </div>
        
        </div>