<!-- main section starts -->
<section class="head-img">
    <img class="header-img" src="../../assets/imgs/P-main-img.jpg" alt="" srcset="">
</section>
<!-- Topic Cards -->
<section class="section-prices">
<div class="list-boxs">
  <div class="card starter">
      <div class="head">
          PAPER POUCH
      </div>
      <div class="ticket">$50.90</div>
      <div class="body">
         <img src="../../assets/imgs/product-image-1-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          PAPER BAG
      </div>
      <div class="ticket">$35.90</div>
      <div class="body">
         <img src="../../assets/imgs/product-image-2-633x633.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
          <div class="card starter">
      <div class="head">
          PLASTIC POUCH
      </div>
      <div class="ticket">$65.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-3-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          COFFEE POT
      </div>
      <div class="ticket">$94.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-4-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          TEA POT
      </div>
      <div class="ticket">$254.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-5-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          CAFE BAGS
      </div>
      <div class="ticket">$105.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-6-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          PAPER CUP
      </div>
      <div class="ticket">$15.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-7-1-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          GROUND COFFEE
      </div>
      <div class="ticket">$225.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-8-1-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          MOKA POT
      </div>
      <div class="ticket">$75.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-9-1-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          CHOCO BITES
      </div>
      <div class="ticket">$85.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-10-1-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          TEA CUP
      </div>
      <div class="ticket">$65.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-11-1-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  <div class="card starter">
      <div class="head">
          GROUND COFFEE
      </div>
      <div class="ticket">$135.90</div>
      <div class="body">
         <img  src="../../assets/imgs/product-image-12-500x500.jpg" alt="" srcset="">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  
</div>
</section>
<!-- main section ends -->


