<!-- main section starts -->
<section class="head-img">
    <img class="header-img" src="../../assets/imgs/P-main-img.jpg" alt="" srcset="">
</section>
<!-- Topic Cards -->
<section class="section-prices">
<div class="list-boxs">

    <div class="card starter"  *ngFor="let DataOfProducts of ProductsDataArray">
        <div class="head">
            {{DataOfProducts.Name}}
        </div>
        <div class="ticket">${{DataOfProducts.Price}}.00</div>
        <div class="body">
           <img [src]="DataOfProducts.image[0]" alt="" srcset="">
            <button class="btn">Add to Cart</button>
        </div>
    </div>

  
</div>
</section>
<!-- main section ends -->


