<!-- main section starts -->
<section class="head-img">
    <img class="header-img" src="../../assets/imgs/reservation.jpg" alt="" srcset="">
</section>

<h1 class="reservation">RESERVATION FORM</h1>
<div class="hr"></div>
<p class="paragraph">
  <small>
Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in
mei. Mei an pericula euripidis,  hinc partem ei est. Eos ei nisl graecis, vix aperiri 
nsequat an. Eius lorem tincidunt vix at, vel pertinax sensibus id.error epicurei mea.
</small>
</p>

<div class="parent-box">
    <div class="child-box1">
        <form action="#">
            <div class="form-div">
              <input type="text" name="" id="" placeholder="Name*" required style="margin-right: 2%;">
              <input type="number" name="" id="" placeholder="Phone*" required>
            </div>
            <div class="form-div">
              <input type="number" name="" id="" placeholder="Seats*" required style="margin-right: 2%;">
              <input type="date" name="" id="" placeholder="Phone*" required>
            </div>
            <div class="form-div">
              <input type="text" name="" id="" placeholder="Time*" required style="margin-right: 2%;">
              <input type="email" name="" id="" placeholder="Email*" required>
            </div>
            <textarea rows="10" name="" required placeholder="Notes*"></textarea>
            <button>SUBMIT</button>
        </form>
    </div>
    <div class="child-box2">
        <img src="../../assets/imgs/Reservation-N-4.jpg" alt="">
    </div>
</div>
