/* home section style  */

.home {
    min-height: 800px;
    padding-top: 12rem;
    background: url(../../assets/imgs/home-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.freshCoffee{
    max-width: 50rem;
}

.home .row .content h3 {
    font-size: 6rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}

.home .row .image img {
    height: 35rem;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-5rem);
    }
}

.home .img-slider {
    text-align: center;
    padding: 3rem 0;
}

.home .img-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .img-slider img:hover {
    transform: translateY(-2rem);
}



/* second section style  */


section {
    padding: 2rem 9%;
}

.book-table {
    background-color: rgba(234, 231, 222, 0.884);
    border: var(--border);
    border-radius:94% 1% 97% 2% / 2% 94% 3% 95%;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.8rem;
}

.book-table:hover {
    border: var(--border-hover);
    transition: all .1s linear;
}

.book-table>h3 {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    font-family: 'Caveat';
    font-weight: 700;
    display: inline-block;
    margin: 1.5rem 0;
    color: rgb(145, 118, 84);
    /* color: rgba(199, 161, 122, 1); */
}


.book-table>h1 {
    font-size: 3.6rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--main-color);
}

.book-table > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7rem 0rem;
}

.book-table > form > select{
    border: none;
    outline: none;
    background:#FFFFFFff;
    font-size: 1.6rem;
    font-family: cursive;
    padding: 1.2rem 7.5rem 1.2rem 1.4rem;
    margin: 2rem 2rem;
}

.book-table > form > .date{
    border: none;
    outline: none;
    background:#FFFFFFff;
    font-size: 1.6rem;
    font-family: cursive;
    padding: 1.2rem 2rem 1.2rem 2rem;
    margin: 2rem 2rem;
}

.book-table > form > .time{
    border: none;
    outline: none;
    background:#FFFFFFff;
    font-size: 1.6rem;
    font-family: cursive;
    padding: 1.2rem 4rem 1.2rem 4rem;
    margin: 2rem 2rem;
}


.book-table > form > .button{
    border: none;
    outline: none;
    background:rgb(145, 118, 84);
    color: #FFFFFFff;
    font-size: 1.6rem;
    font-family: cursive;
    padding: 1.2rem 4.4rem 1.2rem 4.4rem;
    margin: 2rem 2rem;
}

.book-table > form > .button:hover{
    background: var(--main-color);
}

.book-table > form > span{
    font-size: 1.9rem;
    color: var(--main-color);
    font-family: fantasy;
    text-transform: uppercase;
}

.book-table > .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
}

.book-table > .cards > .card{
    flex-basis: 25%;
}

.book-table > .cards > .card > img{
    width: 33rem;
}

.book-table > .cards > .card > h1 {
    font-size: 2.4rem;
    color: var(--main-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards > .card > h1 > span{
    font-family: 'Merriweather';
    color: var(--second-color);
    padding-right:1.5rem ;
    font-size: 5rem;
    font-weight: 400;
}

.book-table > .cards > .card > p{
    font-size: 1.45rem;
    color: rgb(119, 115, 115);
    padding: 1.4rem;
    line-height: 2.4rem;
    text-align: justify;
    text-transform:none;
}

.book-table > .cards > .card > button{
    outline: none;
    border: none;
    background: transparent;
    color: var(--second-color);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.cards > .card > button > span{
    font-size: 1.4em;
    padding-left: .4rem;
    font-weight: 600;
}

.cards > .card > button:hover > span{
    padding-left: 1rem;
    transition: all .1s ease;
}

input[button]{
    outline: none;
}


/* 2nd section starts  */

.container {
	max-width: 96%;
	margin: 8rem;
	padding: 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
                  
.card-box {
    width: 100%;
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-item {
    width: 20%;
	margin: 2.5rem;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-image {
	display: block;
	width: 105px;
	height: 126px;
}

.card-item > h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    font-family: 'Koulen';
    margin: 1.2rem ;
    color: rgba(19, 18, 18, 0.918);
}

.card-item > p{
    text-align: center;
    font-size: 1.3rem;
    color: rgba(37, 35, 35, 0.815)  ;
    text-align: center;
}

 /* 3rd section starts  */

 .display{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

.main-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 > img{
    width: 100%;
}

.box1{
    width: 45%;
    position: relative;
    text-align: left;
    color: rgba(255, 255, 255, 0.945);
}

.box1 > h1{
    max-width: 55%;
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 3.3rem;
    font-family: 'Koulen';
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 3.5rem;
}

.box1 > p{
    max-width: 65%;
    font-weight: 200;
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: var(--white-color);
}

.box1 > button{
    position: absolute;
    bottom: 14%;
    left: 7%;
    outline: none;
    border: none;
    background: transparent;
    color: var(--white-color);
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
}

.box1 > button > span{
    font-size: 1.4em;
    padding-left: .3rem;
    font-weight: 600;
}

.box1 > button:hover > span{
    padding-left: 1rem;
    transition: all .1s ease;
}

.box2{
    width: 45%; 
}

.box2 > img{
    width: 100%;
}

/* home gallery section  */

.gallery{
    margin: 10rem 2rem;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    gap: 0%;
}

.grid-container > .img-1{
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.grid-container > .img-2{
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
} 

.grid-container > .img-3{
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.grid-container > .img-4{
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.grid-container > .img-5{
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.grid-container > .img-6{
    width: 100%;
    grid-column:5 / 6;
    grid-row: 1 / 3;
}










































































/* media queries  */
@media(min-width:1270px){
   
.book-table > .cards{
    flex-wrap: nowrap;
    gap: 3rem;
} 

}


@media(max-width:1300px){

.box1 > h1{
    max-width: 65%;
    font-size: 3rem;
}

.box1 > p{
    font-size: 1.1rem;
}

.box1 > button{
    font-size: 1.2rem;
}
}


@media(max-width:1270px){
   
    .book-table > .cards{
        flex-wrap: nowrap;
        gap: 1.5rem;
    } 

    .card-item {
        width: 40%;
    }

    .container {
        margin: 6rem;
    }

    .box1 > h1{
        max-width: 60%;
    }
    
    }

@media(max-width:1080px){
   
    .book-table > .cards{
        flex-wrap: wrap;
        gap: 5rem;
    } 

    .main-box{
        flex-direction: column;
    }

    .box1, .box2{
        width: 60%;
    }

    }

    @media(max-width:1080px) and (min-width:768px){
        .box1 h1{
            font-size: 3.4rem;
        }

        .box p{
            font-size: 1.5rem;
        }
    }

@media(max-width:991px){

    html{
        font-size: 55%;
    }
    
}


@media(max-width:800px){

    #menu-btn{
        display: initial;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background:#fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar li{
        display: block;
        font-size: 2.2rem;
        margin:0;
        padding:1.5rem 2rem;
    }

    .home{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 4rem;
        margin-top: 4rem;
    }

    .menu .box-container .box{
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }

    .menu .box-container .box img{
        margin-left: 0;
        margin-top: -6rem;
    }

    .book-table > form{
        flex-direction: column;
    }

    .book-table > form > .date{
        padding: 1.2rem 2rem 1.2rem 2rem;
    }
    
    .book-table > form > .time{
        padding: 1.2rem 4rem 1.2rem 4rem;
    }

    .book-table > .cards > .card{
        flex-basis: 100%;
    }

    .book-table > .cards > .card > img{
        width: 100%;
    }
    
    .box1, .box2{
        width: 70%;
    }
}

@media (max-width:624px){
    .card-item {
        width: 90%;
    }

    .container {
        margin: 4rem;
    }

    .box1, .box2{
        width: 80%;
    }

    .box1 h1{
        width: 100%;
    }
}


@media (max-width:480px){
    .card-item {
        width: 90%;
    }

    .container {
        margin: 2rem;
    }
}