<!-- home section starts  -->
<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3 class="freshCoffee">fresh coffee in Morning</h3>
            <a href="#" class="btn"> Buy one Now</a>
        </div>

        <div class="image">
            <img src="../../assets/imgs/home-img-1.png" class="main-img" alt="">
        </div>

    </div>

    <div class="img-slider">
        <img src="../../assets/imgs/home-img-1.png" alt="">
        <img src="../../assets/imgs/home-img-2.png" alt="">
        <img src="../../assets/imgs/home-img-3.png" alt="">
    </div>

</section>
<!-- home section ends  -->

<!-- 2nd section starts  -->

<section class="book-table">

    <h3>What Happens Here</h3>
    <h1>COFFEE BUILD YOUR BASE.</h1>

    <form action="#">
        <select name="Person" id="Persons">
            <option value="1person">1 Person</option>
            <option value="2person">2 Person</option>
            <option value="3person">3 Person</option>
            <option value="4person">4 Person</option>
            <option value="5person">5 Person</option>
            <option value="6person">6 Person</option>
            <option value="7person">7 Person</option>
            <option value="8person">8 Person</option>
            <option value="9person">9 Person</option>
            <option value="10person">10 Person</option>
        </select>
        <span>For</span>
        <input type="date" class="date">
        <span>At</span>
        <input type="time" class="time">
        <input type="button" class="button btn" value="BOOK A TABLE">
    </form>

    <div class="cards">
        <div class="card">
            <img src="../../assets/imgs/h-1-img-1.jpg" alt="">
            <h1><span>01</span> BEAUTIFUL PLACE</h1>
            <p>Alienum phaedrum to rquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix atle</p>
            <button>Read more <span>→</span></button>
        </div>
        <div class="card">
            <img  src="../../assets/imgs/h-1-img-2.jpg" alt="">
            <h1><span>02</span> FEEL THE COFFEE</h1>
            <p>Alienum phaedrum to rquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix atle</p>
            <button>Read more <span>→</span></button>
        </div>
        <div class="card">
            <img  src="../../assets/imgs/h-1-img-3.jpg" alt="">
            <h1><span>03</span> FULL TASTE</h1>
            <p>Alienum phaedrum to rquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an pericula euripidis, hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix atle</p>
            <button>Read more <span>→</span></button>
        </div>
    </div>

</section>
<!-- 2nd section ends  -->

<section class="container">
    <div class="card-box"> 

        <div class="card-item">
            <img class="gallery-image" src="../../assets/imgs/home-1-icon-img-1.png">
            <h2>COFFEEMAKER</h2>
            <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei an pericula.</p>
        </div>

        <div class="card-item">
            <img class="gallery-image"  src="../../assets/imgs/home-1-icon-img-2.png">
            <h2>COFFEE GRINDER</h2>
            <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei an pericula.</p>
        </div>

        <div class="card-item">
            <img class="gallery-image"  src="../../assets/imgs/home-1-icon-img-3.png">
            <h2>COFFEE CUPS</h2>
            <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei an pericula.</p>
        </div>

        <div class="card-item">
            <img class="gallery-image" src="../../assets/imgs/home-1-icon-img-4.png">
            <h2>ESPRESSO MACHINE</h2>
            <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei an pericula.</p>
        </div>

    </div>
</section>

 <!-- 3rd section starts  -->

<section class="display">
 <div class="main-box">
     <div class="box1">
         <img src="../../assets/imgs/home-1-s-slider-1.jpg" alt="">
         <h1>TRY THE BEST COFFEE IN THE CITY</h1>
         <p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an at dictum lacu pericula uni euripidis.</p>
         <button>Read more <span>→</span></button>
     </div>
     <div class="box2">
         <img src="../../assets/imgs/main-home-project-pres-3.jpg" alt="">
     </div>
 </div>
</section>

<!-- gallery section  -->

<section class="gallery" style="padding: 2rem ;">
    <div class="grid-container">
        <img src="../../assets/menu-imgs/home-1-gallery-1.jpg" alt=""  class="img-1">
        <img src="../../assets/menu-imgs/home-1-gallery-2-550x550.jpg" alt="" class="img-2">
        <img src="../../assets/menu-imgs/home-1-gallery-3-550x550.jpg" alt="" class="img-3">
        <img src="../../assets/menu-imgs/home-1-gallery-4-500x1000.jpg" alt="" class="img-6">
        <img src="../../assets/menu-imgs/home-1-gallery-5-550x550.jpg" alt="" class="img-5">
        <img src="../../assets/menu-imgs/home-1-gallery-6-550x550.jpg" alt="" class="img-4">
    </div>
</section>

